<header class="headerPainel">
    <div class="logo-img">
        <a href="/painel"><img src="/images/favicon.svg" alt=""></a>
    </div>

    <nav>
        <div class="button-logout">
            <button onclick="logout()">Sair da Conta</button>
        </div>
    </nav>
</header>

<script>
    function logout() {
        localStorage.setItem("token", "");
        window.location.href = '/login';
    }
</script>