<header>
    <div class="logo-img">
        <a href="/"><img src="images/favicon.svg" alt=""></a>
    </div>

    <nav>
        <a href="/login"><i class="bi bi-person-circle"></i></a>
    </nav>
</header>