<section class="cadastro">
    <div class="cadastro-container">
        <div class="cadastro-img">
            <img src="images/favicon2.svg" alt="">
        </div>
        <form action="/cadastro/criar-usuario" method="POST">
            <div class="formcadastro-control">
                <div class="form-group">
                    <input type="text" class="form-control" id="nome" name="nome" required>
                    <label for="name">Nome Completo</label>
                </div>
            </div>
            <div class="formcadastro-control">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" required>
                    <label for="email">Endereço de Email</label>
                </div>
            </div>
            <div class="formcadastro-control">
                <div class="form-group">
                    <input type="password" class="form-control" id="senha" name="senha" required>
                    <label for="senha">Senha</label>
                </div>
            </div>
            <button type="submit">Criar conta</button>

        </form>
        <a href="/login">Já tem conta? Faça Login</a>
    </div>
</section>