{{> headerPainel}}

<section class="comprar-bilhete">
    <div class="comprar-bilhete-text">
        <div class="title">
            <h2>Cadastrar participante</h2>
        </div>
        <p>Preencha as informações do Comprador.</p>
    </div>
    <div class="comprarBilheteForm">
        <form action="" class="form-comprar-bilhete" id="comprarBilheteForm">
            <input type="hidden" name="rifaId" value="{{rifaId}}">
            <input type="hidden" name="bilheteNum" value="{{bilheteNum}}">
            <div class="form-group">
                <input type="text" class="input-field" id="compradorNome" name="compradorNome" required>
                <label for="compradorNome" class="input-label">Nome do Comprador</label>
            </div>
            <div id="errorMessage" class="error-message"></div>
            <div class="btns-bilhetes">
                <a href="/detalhes/{{rifaId}}" class="btn btn-secondary">Voltar</a>
                <button type="submit" class="submit-button btn btn-success">Cadastrar Bilhete</button>
            </div>
        </form>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const token = localStorage.getItem('token');

        if (!token) {
            alert('Acesso negado. Por favor, faça login.');
            window.location.href = '/login';
        } else {
            fetch('/validaToken', {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Acesso negado');
                    }
                    return response.json();
                })
                .then(data => {
                    const userId = data.userId;

                    document.getElementById('comprarBilheteForm').addEventListener('submit', function (event) {
                        event.preventDefault();

                        const formData = new FormData(event.target);
                        const data = {
                            rifaId: formData.get('rifaId'),
                            bilheteNum: formData.get('bilheteNum'),
                            compradorNome: formData.get('compradorNome')
                        };

                        fetch('/cadastrarBilhete', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Authorization': `Bearer ${token}`
                            },
                            body: JSON.stringify(data)
                        })
                            .then(response => {
                                if (!response.ok) {
                                    return response.json().then(error => { throw new Error(error.error); });
                                }
                                return response.json();
                            })
                            .then(result => {
                                alert(result.message);
                                window.location.href = `/detalhes/${data.rifaId}`;
                            })
                            .catch(error => {
                                console.error('Erro ao cadastrar bilhete:', error);
                                const errorMessage = document.getElementById('errorMessage');
                                errorMessage.textContent = 'Erro ao cadastrar bilhete: ' + error.message;
                            });
                    });

                    const formGroups = document.querySelectorAll('.form-group');
                    formGroups.forEach(formGroup => {
                        const input = formGroup.querySelector('input');

                        input.addEventListener('input', function () {
                            if (this.value.trim() !== '') {
                                formGroup.classList.add('clicked');
                            } else {
                                formGroup.classList.remove('clicked');
                            }
                        });
                    });
                })
                .catch(error => {
                    console.error('Erro ao acessar a página:', error);
                    window.location.href = '/login';
                });
        }
    });
</script>
