<section class="cadastro">
    <div class="cadastro-container">
        <div class="cadastro-img">
            <img src="images/favicon2.svg" alt="">
        </div>
        <form id="formCadastro">
            <div class="formcadastro-control">
                <div class="form-group">
                    <input type="text" class="form-control" id="nome" name="nome">
                    <label for="nome" class="input-label">Nome Completo</label>
                </div>
            </div>
            <div class="formcadastro-control">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email">
                    <label for="email" class="input-label">Endereço de Email</label>
                </div>
            </div>
            <div class="formcadastro-control">
                <div class="form-group">
                    <input type="password" class="form-control" id="senha" name="senha">
                    <label for="senha" class="input-label">Senha</label>
                </div>
            </div>
            <div class="formcadastro-control">
                <div class="form-group">
                    <input type="password" class="form-control" id="confirmar-senha" name="confirmSenha">
                    <label for="confirmar-senha" class="input-label">Confirme sua Senha</label>
                </div>
            </div>
            <button type="submit">Criar conta</button>
        </form>
        <div id="error-message" class="error-message"></div>
        <a href="/login">Já tem conta? Faça Login</a>
    </div>
</section>

<script>
    document.getElementById('formCadastro').addEventListener('submit', async function (event) {
        event.preventDefault();

        const nome = document.getElementById('nome').value;
        const email = document.getElementById('email').value;
        const senha = document.getElementById('senha').value;
        const confirmSenha = document.getElementById('confirmar-senha').value;

        const formData = {
            nome: nome,
            email: email,
            senha: senha,
            confirmSenha: confirmSenha
        };

        const errorMessageElement = document.getElementById('error-message');

        try {
            const response = await fetch('/cadastro/criar-usuario', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            if (!response.ok) {
                const errorData = await response.json();
                throw new Error(errorData.error);
            }

            alert("Usuário criado com sucesso!");
            // Redirecionar para a página de login
            window.location.href = '/login';
        } catch (error) {
            console.error('Erro:', error);
            errorMessageElement.textContent = error.message;
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        const formGroups = document.querySelectorAll('.form-group');

        formGroups.forEach(formGroup => {
            const input = formGroup.querySelector('input');

            // Adicionar a classe 'clicked' ao clicar no input
            input.addEventListener('click', function () {
                formGroup.classList.add('clicked');
            });

            // Remover a classe 'clicked' ao perder o foco se o input estiver vazio
            input.addEventListener('blur', function () {
                if (this.value.trim() === '') {
                    formGroup.classList.remove('clicked');
                }
            });

            // Adicionar ou remover a classe 'clicked' ao digitar
            input.addEventListener('input', function () {
                if (this.value.trim() !== '') {
                    formGroup.classList.add('clicked');
                } else {
                    formGroup.classList.remove('clicked');
                }
            });

            // Adicionar a classe 'clicked' se o input já tiver um valor ao carregar a página
            if (input.value.trim() !== '') {
                formGroup.classList.add('clicked');
            }
        });
    });
</script>