{{> headerPainel}}

<section class="rifas">
    <div class="rifas-text">
        <div class="title">
            <a href="/painel" class="icon-link"><img src="/images/ChevronLeft.svg" alt="" class="icon-arrow"></a>
            <h2>Criar Rifa</h2>
        </div>
        <p>Preencha as informações desejadas e crie a sua rifa agora mesmo!</p>
    </div>
    <div class="criarRifaForm">
        <form action="" class="form-criar-rifa" id="criarRifaForm">
            <div class="form-group">
                <input type="text" class="input-field" id="tituloRifa" name="tituloRifa">
                <label for="tituloRifa" class="input-label">Titulo da Rifa</label>
            </div>
            <div class="form-group">
                <input type="text" class="input-field" id="descricaoRifa" name="descricaoRifa">
                <label for="descricaoRifa" class="input-label">Descrição da Rifa</label>
            </div>
            <div class="form-group">
                <input type="number" step="0.010" class="input-field" id="valorBilhete" name="valorBilhete">
                <label for="valorBilhete" class="input-label">Valor do Bilhete</label>
            </div>
            <div class="form-group">
                <input type="number" max="1000" class="input-field" id="quantidadeBilhetes" name="qtdBilhete">
                <label for="quantidadeBilhetes" class="input-label">Quantidade de bilhetes</label>
            </div>
            <div class="form-group clicked">
                <input type="date" class="input-field" id="dataTermino" name="dataTermino">
                <label for="dataTermino" class="input-label">Data de término</label>
            </div>
            <!-- Elemento para exibir mensagens de erro -->
            <button type="submit" class="submit-button">Criar Rifa</button>
            <div id="errorMessage" class="error-message2"></div>
        </form>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const token = localStorage.getItem('token');

        if (!token) {
            alert('Acesso negado. Por favor, faça login.');
            window.location.href = '/login';
        } else {
            fetch('/validaToken', {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Acesso negado');
                    }
                    return response.json();
                })
                .then(data => {
                    const userId = data.userId;

                    document.getElementById('criarRifaForm').addEventListener('submit', function (event) {
                        event.preventDefault();

                        const formData = new FormData(event.target);
                        const data = {
                            tituloRifa: formData.get('tituloRifa'),
                            descricaoRifa: formData.get('descricaoRifa'),
                            valorBilhete: formData.get('valorBilhete'),
                            qtdBilhete: formData.get('qtdBilhete'),
                            dataTermino: formData.get('dataTermino')
                        };

                        fetch(`/criarRifa/create?userId=${userId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Authorization': `Bearer ${token}`
                            },
                            body: JSON.stringify(data)
                        })
                            .then(response => {
                                if (!response.ok) {
                                    return response.json().then(error => { throw new Error(error.error); });
                                }
                                return response.json();
                            })
                            .then(result => {
                                alert(result.message);
                                window.location.href = '/painel';
                            })
                            .catch(error => {
                                console.error('Erro ao criar rifa:', error);
                                const errorMessage = document.getElementById('errorMessage');
                                errorMessage.textContent = 'Erro ao criar rifa: ' + error.message;
                            });
                    });

                    const formGroups = document.querySelectorAll('.form-group');
                    formGroups.forEach(formGroup => {
                        const input = formGroup.querySelector('input');

                        input.addEventListener('input', function () {
                            if (this.value.trim() !== '') {
                                formGroup.classList.add('clicked');
                            } else {
                                formGroup.classList.remove('clicked');
                            }
                        });
                    });
                })
                .catch(error => {
                    console.error('Erro ao acessar o painel:', error);
                    window.location.href = '/login';
                });
        }
    });
</script>