<main class="home">
    <div class="home-content">
        <h1><span>Crie sua rifa</span> em questão de minutos!</h1>

        <p>Utilize nosso sistema para voce criar e gerenciar suas rifas online de forma facil e prática!</p>
        <button>Criar rifa agora!</button>
    </div>
    <div class="home-img">
        <img src="images/mockup-iphone.svg" alt="system example">
    </div>
</main>