<section class="cadastro">
    <div class="cadastro-container">
        <div class="cadastro-img">
            <img src="images/favicon2.svg" alt="">
        </div>
        <form action="">
            <div class="formcadastro-control">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" required>
                    <label for="email">Endereço de Email</label>
                </div>
            </div>
            <div class="formcadastro-control">
                <div class="form-group">
                    <input type="password" class="form-control" name="senha" id="senha" required>
                    <label for="senha">Senha</label>
                </div>
            </div>
            <button type="submit">Login</button>
        </form>
        <a href="/cadastro">Não tem conta? Crie uma!</a>
    </div>
</section>
