<h1>Bem-vindo ao Painel</h1>
<button onclick="logout()">sair</button>

<script>
    function logout() {
        localStorage.setItem("token", "");
        window.location.href = '/login';
    }

    document.addEventListener('DOMContentLoaded', function () {
        const token = localStorage.getItem('token');

        if (!token) {
            alert('Acesso negado. Por favor, faça login.');
            window.location.href = '/login';
        } else {
            fetch('/validaToken', {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Acesso negado');
                    }
                    return response.text();
                })
                .then(html => {
                    document.body.innerHTML = html;
                })
                .catch(error => {
                    console.error('Erro ao acessar o painel:', error);
                    window.location.href = '/login';
                });
        }
    });
</script>