<!-- painel.handlebars -->
<h1>Seja bem-vindo, {{user.nome}}!</h1>
<button onclick="logout()">Sair</button>

<script>
    function logout() {
        localStorage.setItem("token", "");
        window.location.href = '/login';
    }

    document.addEventListener('DOMContentLoaded', function () {
        const token = localStorage.getItem('token');

        if (!token) {
            alert('Acesso negado. Por favor, faça login.');
            window.location.href = '/login';
        } else {
            fetch('/validaToken', {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Acesso negado');
                    }
                    return response.json();
                })
                .then(data => {
                    const userId = data.userId;
                    return fetch(`/painel?userId=${userId}`, {
                        method: 'GET',
                        headers: {
                            'Authorization': `Bearer ${token}`
                        }
                    });
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro ao buscar dados do usuário');
                    }
                    return response.text();
                })
                .then(html => {
                    document.body.innerHTML = html;
                })
                .catch(error => {
                    console.error('Erro ao acessar o painel:', error);
                    window.location.href = '/login';
                });
        }
    });
</script>
