{{> header}}
<div class="pagsobre">

    <h2>Sobre nós</h2>
    <p>Seja Bem-vindo ao RMS!</p>
    <p>Nosso sistema nasceu de uma necessidade prática que surgiu durante o terceiro ano do ensino médio. Onde
        enfrentamos
        dificuldades para controlar e organizar a venda de rifas para arrecadar fundos para nossa formatura escolar. Em
        busca de uma solução eficiente, decidimos juntar a fome com a vontade de comer — pois, além da necessidade,
        estávamos no terceiro semestre do nosso curso de Desenvolvimento de Sistemas.
    </p>
    <p>Essa combinação de circunstâncias nos levou a criar uma ferramenta própria, que não apenas facilita a
        administração
        das rifas, mas também garante que todos os participantes tenham uma experiência bem organizada.
    </p>
</div>
{{> footer}}