@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    background-color: #faf9f9f6;
    color: white;
    padding: 1.3rem 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-img {
    width: 50%;
}

header .logo-img img {
    filter: drop-shadow(0px 5px 3px #00000010);
}

header nav a {
    font-size: 3rem;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

header nav a:hover {
    color: rgb(255, 0, 0);
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fffffff8;
    padding: 0 5%;
}

.home-content {
    width: 70%;
}

.home .home-content h1 {
    font-size: 5.2vw;
    margin-bottom: 2vh;
}

.home .home-content span {
    color: red;
}

.home .home-content p {
    font-size: 1.4vw;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.home .home-content button {
    outline: none;
    width: 15vw;
    height: 8vh;
    color: #fff;
    background: linear-gradient(115.25deg, #EF4444 18.75%, #D93285 95.01%);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.home .home-img {
    width: 30%;
}

.home .home-img img {
    width: 80%;
}

.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cadastro-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
}

.cadastro-container .cadastro-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.8rem;
}

.cadastro-container .cadastro-img img {
    width: 25%;
}

.cadastro-container .formcadastro-control {
    margin-bottom: 1.8rem;
}

.cadastro-container .formcadastro-control label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.cadastro-container .formcadastro-control input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {
    position: relative;
}

.form-group input {
    padding: 15px 10px 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: transparent;
}

.form-group input:focus+label,
.form-group input.valid+label,
.form-group.clicked input+label {
    top: -20px;
    font-size: 14px;
    color: #EF4444;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #888;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.cadastro-container button {
    width: 100%;
    padding: 0.8rem;
    background-color: #EF4444;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cadastro-container button:hover {
    background-color: #D93285;
}

.cadastro-container a {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
}

.cadastro-container a:hover {
    text-decoration: underline;
}

.painel {
    padding: 0.2rem 7%;
}

.painel .user-welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.painel .user-welcome .text-welcome {
    display: flex;
    align-items: center;
}

.painel .user-welcome .text-welcome .bi-person-circle {
    font-size: 3rem;
    margin-right: 1vw;
}

.painel .user-welcome .text-welcome h3 {
    font-weight: 300;
}

.button-logout button {
    outline: none;
    width: 10vw;
    height: 6vh;
    color: #fff;
    background: linear-gradient(115.25deg, #EF4444 18.75%, #D93285 95.01%);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.dashboard-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.dashboard-text h2 {
    margin: 0;
}

.dashboard-text a {
    text-decoration: none;
    padding: 1rem 3rem;
    color: #fff;
    background: linear-gradient(115.25deg, #EF4444 18.75%, #D93285 95.01%);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.dashboard-text a:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.dashboard-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.info {
    text-align: center;
}

.info p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.info h2 {
    margin: 0;
    font-size: 2rem;
    color: #4CAF50;
}

.dashboard-rifaslist {
    width: 100%;
    margin: 10vh;
}

.text-center {
    text-align: center;
}

.rifas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rifas-text .title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.rifas-text .title .icon-arrow {
    position: absolute;
    top: 18vh;
    left: 10vw;
    color: #EB3223;
}

.rifas-text .title h2 {
    color: #EB3223;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bolder;
    letter-spacing: -1px;
}

.rifas-text p {
    font-weight: 300;
}

.criarRifaForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

/* Adicionando estilos para o formulário de criar rifa */
.form-criar-rifa {
    width: 80%;
    max-width: 600px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
}

.form-criar-rifa .form-group {
    position: relative;
    margin-bottom: 1.8rem;
}

.form-criar-rifa .form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-criar-rifa .form-group input:focus+label,
.form-criar-rifa .form-group input.valid+label,
.form-criar-rifa .form-group.clicked input+label {
    top: -20px;
    font-size: 14px;
    color: #EF4444;
}

.form-criar-rifa .form-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #888;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.form-criar-rifa .submit-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #EF4444;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.5rem;
}

.form-criar-rifa .submit-button:hover {
    background-color: #D93285;
}

.icon-link {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    color: #EB3223;
}

.rifas-text .title h2 {
    color: #EB3223;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 0.5rem;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}


/* Responsividade */
@media screen and (max-width: 768px) {
    header {
        position: fixed;
        z-index: 100000;
        background-color: #fff;
    }

    .home {
        padding-top: 20vh;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-content,
    .home .home-img {
        width: 100%;
        margin: 2rem 0;
    }

    .cadastro-container,
    .home-content {
        width: 80%;
    }

    .cadastro-container .cadastro-img img {
        width: 50%;
    }

    .home .home-img {
        width: 80%;
    }

    .home .home-content button {
        width: 70%;
    }

    .button-logout button {
        width: 30vw;
    }

    .rifas-text{
        margin-top: 20vh;
        text-align: center;
    }

    .icon-arrow{
        top: 14vh !important;
    }

}

@media screen and (max-width: 480px) {
    .home .home-content h1 {
        font-size: 2.8rem;
    }

    .home .home-content p {
        font-size: 1.2rem;
    }

    .home .home-content button {
        width: 70%;
        max-width: 200px;
    }

    .cadastro-container,
    .home-content {
        width: 90%;
    }

    .cadastro-container .cadastro-img img {
        width: 40%;
    }

    .home .home-img {
        width: 90%;
        margin-bottom: 1rem 0;
    }

    .dashboard-info {
        flex-direction: column;
    }

    .info {
        margin-bottom: 1rem;
    }

    .button-logout button {
        width: 30vw;
    }

    .dashboard-rifaslist {
        margin: 5vh;
    }

    .rifas-text{
        margin-top: 15vh;
        text-align: center;
    }

    .icon-arrow{
        top: 11vh !important;
    }
}